<h1>Articles Saved for Later</h1>

<% if @saved_articles.any? %>
  <ul>
    <% @saved_articles.each do |read_later| %>
      <li>
        <h2><%= read_later.article.title %></h2>
        <p><%= read_later.article.source_name %></p>
        <a 
          href="<%= read_later.article.url %>" 
          target="_blank"
          class="text-blue-600 hover:underline bg-transparent border-0 p-0 cursor-pointer font-semibold"
        >
          Read More
        </a>
        <%= 
          button_to "Remove",
          news_read_later_path(read_later.article.id, read_later.id),
          method: :delete, 
          data: { confirm: "Are you sure you want to remove this article from your list?" },
          class: "text-blue-600 hover:underline bg-transparent border-0 p-0 cursor-pointer font-semibold" 
        %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no saved articles.</p>
<% end %>
